<html layout:decorator="layout">

<div layout:fragment="content">
    <div class="col-sm-12">

        <h1 class="text-left">Tasks</h1>
        <hr />

        <a class="pull-left" th:href="@{/tasks/new}">Add new task</a>

        <table class="table table-hover">
            <thead>
            <tr>
                <th width="10%">#</th>
                <th width="15%">Summary</th>
                <th width="30%">Description</th>
                <th width="10%">Status</th>
                <th width="10%">Create Date</th>
                <th width="10%">Update Date</th>
                <th width="15%">Action</th>
            </tr>
            </thead>
            <tbody style="text-align: left;">
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.summary}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${#dates.format(task.createdAt, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(task.updatedAt, 'yyyy-MM-dd')}"></td>
                <td>
                    <a th:href="@{'/tasks/{id}/edit'(id=${task.id})}" th:attr="name=${task.summary}">edit</a> |
                    <a th:href="@{'/tasks/{id}'(id=${task.id})}" th:attr="name=${task.summary}">show</a> |
                    <a th:href="@{'/tasks/{id}/delete'(id=${task.id})}" th:attr="name=${task.summary}">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <!--<div class="form-group col-md-1">-->
            <!--<select class="form-control pagination" id="pageSizeSelect">-->
                <!--<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>-->
            <!--</select>-->
        <!--</div>-->
        <div th:if="${tasks.getTotalPages() != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${tasks.getNumber() == 0} ? disabled">
                    <a class="pageLink" th:href="@{${route}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${tasks.getNumber() == 0} ? disabled">
                    <a class="pageLink" th:href="@{${route}(pageSize=${selectedPageSize}, page=${tasks.getNumber()})}">&larr;</a>
                </li>
                <li th:class="${tasks.getNumber() == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pagination.getFirstPage(), pagination.getLastPage())}">
                    <a class="pageLink" th:href="@{${route}(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
                </li>
                <li th:class="${tasks.getNumber() + 1 == tasks.getTotalPages()} ? disabled">
                    <a class="pageLink" th:href="@{${route}(pageSize=${selectedPageSize}, page=${tasks.getNumber() + 2})}">&rarr;</a>
                </li>
                <li th:class="${tasks.getNumber() + 1 == tasks.getTotalPages()} ? disabled">
                    <a class="pageLink" th:href="@{${route}(pageSize=${selectedPageSize},page=${tasks.getTotalPages()})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>