<html layout:decorator="layout">
<div layout:fragment="content">
    <div class="col-sm-12">

        <h1 class="text-left">Create new task</h1>
        <hr />

        <form class="" th:object="${task}" th:action="@{/tasks/create}" method="post" role="form">
            <div class="form-group">
                <label for="summary" class="pull-left">Summary <span class="text-danger">*</span></label>
                <input type="text" class="form-control" th:field="*{summary}" />
                <span th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" th:class="help-block">Summary errors</span>
            </div>

            <div class="form-group">
                <label for="description" class="pull-left">Description <span class="text-danger">*</span></label>
                <textarea rows="3" class="form-control" th:field="*{description}" />
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="help-block">Description errors</span>
            </div>

            <div class="form-group">
                <label for="status" class="pull-left">Stasus</label>
                <select class="form-control" th:field="*{status}">
                    <option value="-"> - Select - </option>
                    <option value="In progress">In progress</option>
                    <option value="Not started">Not started</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>

            <button type="submit" id="submit" class="btn btn-primary pull-left">Submit</button>
        </form>

    </div>
</div>
</html>