<html layout:decorator="layout">
<div layout:fragment="content">
    <div class="col-sm-12">

        <h2>Edit user</h2>
        <hr />

        <form class="" role="form" th:object="${user}" th:action="@{/users/update}" method="POST">

            <input type="hidden" class="form-control" th:field="*{id}"/>

            <div class="form-group">
                <label for="email" class="pull-left">Email <span class="text-danger">*</span></label>
                <input type="text" class="form-control" th:field="*{email}" />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="help-block">Email errors</span>
            </div>

            <div class="form-group">
                <label for="password" class="pull-left">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" th:field="*{password}" />
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="help-block">Password errors</span>
            </div>

            <div class="form-group">
                <label for="full-name" class="pull-left">Full name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" th:field="*{fullName}" />
                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" th:class="help-block">Full name errors</span>
            </div>

            <!--<div th:text="*{users_roles}" ></div>-->

            <button type="submit" id="submit" class="btn btn-primary pull-left">Update!</button>

        </form>
    </div>
</div>
</html>