<html layout:decorator="layout">

<div layout:fragment="content">

    <h1 class="text-left">Users</h1>
    <hr />

    <a class="pull-left btn btn-primary" th:href="@{/users/new}">
        <i class="glyphicon glyphicon-plus"></i> Add new user
    </a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th width="5%">#</th>
            <th width="10%">Initial</th>
            <th width="25%">Name</th>
            <th width="30%">Email</th>
            <th width="10%">Is active</th>
            <th width="10%">Created</th>
            <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody style="text-align: left;">
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.initial}"></td>
            <td>
                <a th:href="@{'/users/{id}'(id=${user.id})}" th:text="${user.fullName}">show</a>
            </td>
            <td th:text="${user.email}"></td>
            <td>
                <span th:if="${user.isActive}">Yes</span>
                <span th:unless="${user.isActive}">No</span>
            </td>
            <td th:text="${#dates.format(user.createdAt, 'yyyy-MM-dd')}"></td>
            <td>
                <a th:href="@{'/users/{id}/edit'(id=${user.id})}" class="btn btn-xs btn-default" title="Edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a th:href="@{'/users/{id}/delete'(id=${user.id})}" class="btn btn-xs btn-default" title="Remove">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</html>