<html layout:decorator="layout">
<div layout:fragment="content">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><b th:text="${project.name}"></b></div>
        <div class="panel-body">
            <p th:text="${project.description}">...</p>
        </div>

        <!-- Table -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="50%">Summary</th>
                <th width="10%">Date</th>
                <th width="10%">Log</th>
                <th width="10%">Status</th>
                <th width="10%">Created</th>
                <th width="10%">Action</th>
            </tr>
            </thead>
            <tbody style="text-align: left;">
            <tr th:each="task : ${project.tasks}">
                <td>
                    <a th:href="@{'/tasks/{id}'(id=${task.id})}" th:text="${task.summary}">show</a>
                </td>
                <td th:text="${task.dateOfWork}"></td>
                <td th:text="${task.timeSpent}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${#dates.format(task.createdAt, 'yyyy-MM-dd')}"></td>
                <td>
                    <a th:href="@{'/tasks/{id}/edit'(id=${task.id})}" class="btn btn-xs btn-default" title="Edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a th:href="@{'/tasks/{id}/delete'(id=${task.id})}" class="btn btn-xs btn-default" title="Delete">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a href="javascript:void();" class="btn btn-xs btn-default" title="Time log">
                        <i class="glyphicon glyphicon-time"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>